[Unit]
Description=go-drcom-jlu Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/go-drcom-jlu -config /etc/go-drcom-jlu/config.json
Restart=on-failure
# Don't restart in the case of configuration error
RestartPreventExitStatus=10

[Install]
WantedBy=multi-user.target