[Unit]
Description=go-drcom-jlu Service
After=network.target
Wants=network.target

[Service]
# useradd gdj -s /usr/sbin/nologin
User=gdj
Group=gdj
Type=simple
PIDFile=/run/v2ray.pid
ExecStart=/usr/bin/go-drcom-jlu/go-drcom-jlu -config /etc/go-drcom-jlu/config.json
Restart=on-failure
# Don't restart in the case of configuration error
RestartPreventExitStatus=10

[Install]
WantedBy=multi-user.target